@charset "utf-8";


#result{
	
	width:1400px;
		
}

#result td{
	
	width:700px;
	
}


#graphFrame{
	
	border:1px solid red;

}

.graph{
	

	align:center;
	outline:0;
	width:50px;
	height: 20px;
	border: 1px solid #cccccc;
	border-collapse: collapse; 
	border-spacing: 0;
	
}