@charset "utf-8";


#result{
	



		
}

#result td{
	

}


#subTitle{
	
	text-align:center;
	color:#555555;
	font-family:"돋움";
	font-size:15pt;
	
}


#Gframe{
	
	width:700px;
	
	display:inline-block;
	text-align:center;
	align:center;
	margin:auto;
	border-collapse: collapse; 
	border-spacing: 0;


}

#Gframe td{
	
	width:230px;
	
	
}

.graph{
	
	width:740px;
	text-align:center;
	margin:auto;
	align:center;
	outline:0;
	border : 1px solid red;
	border-collapse: collapse; 
	border-spacing: 0;
}	


#test{
	
	
	border:3px solid red;
	
}

.cell1{
	
	align:center;
	vertical-align:top;
	text-align:center;
	
	display:inline-block;
	width:100px;
	height:15px;
	border-radius: 30px;
	border:2px solid green;
	margin:5px;
	
}


.cell{
	
	align:center;
	margin:auto;
	display:inline-block;
	vertical-align:top;
	text-align:center;
	
	margin:5px;
	width:100px;
	height:15px;
	border-radius: 30px;
	border:1px solid #cdcdcd;
	
}



#5ok{
	
	
	background-color: red;
	
}